.floorplan {
  position: relative;
  background-image: url('/assets/images/wimmahuone.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  width: 1000px;
}

.room {
  position: absolute;
  overflow: hidden;
}

.device {
  position: absolute;
  font-size: 2rem;
}

.is-ghost {
  opacity: 0.2;
}

.has-transition {
  transition: all 2s cubic-bezier(.95,.05,.8,.04) 0.15s;  
}

.overflow {
  outline: 3px solid red;
  height: 480px;
  width: 460px;
  top: 22px;
  left: 22px;
}

.pengwin {
  outline: 3px solid pink;
  height: 482px;
  width: 470px;
  top: 22px;
  right: 22px;
}

.button {
  margin: 1rem 0;
  margin-left: 1.5em;
  box-shadow: 0px 3px #11522a;
}