<section class="hero is-fullheight">
  <div class="columns is-flex-fill">
    <div class="column is-one-fifth">
        <app-main-nav></app-main-nav>
    </div>
    
    <div class="column">
        <div class="section">
          <h1 class="title">Sisätilapaikannus</h1>
          <div *ngIf="!display">
            <p>Motikkaa ei voitu paikantaa sisätiloihin.</p>
          </div>
          <div *ngIf="display">
            <h2 class="subtitle">Motikka on tilassa: {{ device.position.environment }}</h2>
            <div class="floorplan">
              <div class="room overflow">
                <!-- <div
                  class="device is-ghost fa fa-bluetooth-b" 
                  [style.top]="device.position.y | percentage"
                  [style.left]="device.position.x | percentage"
                  [style.color]="red"
                  *ngIf="display && device.position.environment == 'overflow'">
                </div> -->
                <div
                  class="device has-transition fa fa-wheelchair" 
                  [style.top]="device.position.y | percentage"
                  [style.left]="device.position.x | percentage"
                  [style.color]="red"
                  *ngIf="display && device.position.environment == 'overflow'">
                </div>
              </div>
              <div class="room pengwin">
                <!-- <div
                  class="device is-ghost fa fa-bluetooth-b" 
                  [style.top]="device.position.y | percentage"
                  [style.left]="device.position.x | percentage"
                  [style.color]="red"
                  *ngIf="display && device.position.environment == 'pengwin'">
                </div> -->
                <div
                  class="device has-transition fa fa-wheelchair" 
                  [style.top]="device.position.y | percentage"
                  [style.left]="device.position.x | percentage"
                  [style.color]="red"
                  *ngIf="display && device.position.environment == 'pengwin'">
                </div>
              </div>
            </div>
            <br />
            
          </div>
        </div>
        <app-usage [device]="device" ></app-usage>
        <a class="button is-link" routerLink="/" >Ulkotilapaikannukseen</a>
    </div>
  </div>
</section>