.column {
  padding: 0 0.75rem;
}

.button {
  margin: 1rem 0;
  margin-left: 1.5em;
  box-shadow: 0px 3px #11522a;
}

.section {
  display: flex;
  flex-direction: column;
}
.is-disabled{
  pointer-events: none;
  cursor: default;
}