<section class="hero is-fullheight">
<div class="columns is-flex-fill">
  <div class="column is-one-fifth">
      <app-main-nav></app-main-nav>
  </div>
  <div class="column">
    <div class="section">
        <h1 class="title">Ulkopaikannuksen sijainti</h1>
        <div id="map" *ngIf="devices">
          <app-agm-map (onMotikkaSelect)="changeRoute($event)" [mapMarkers]="devices"></app-agm-map>        
        </div>
    </div>

    <a class="button is-link" 
      [routerLink]="['../indoor/',motikkaid]"
      *ngIf="motikkaid"
      >Sisätilapaikannukseen</a>
    <a class="button is-link"     
      *ngIf="!motikkaid"
      disabled
      >Sisätilapaikannukseen</a>
      <p>{{ motikkaid }}</p>
    <div class="section" id="deviceData" *ngIf="devices">
      <app-device-detail [devices]="devices"></app-device-detail>
    </div>

 </div>
  <!--<div class="column">
            <div id="deviceData" *ngIf="devices">
                <app-device-detail [devices]="devices"></app-device-detail>
            </div>
       </div>-->
  </div>

<div>

</div>
</section>