// Font awesome path
$fa-font-path: '../assets/fonts';

// Bulma.io variables
$primary: #bc1230;
$buttoncolour: #67b94e;
//$link: #0F0;

.menu {
    height: 100%;
    background-color: $primary;
}

$link: $buttoncolour;
$menu-item-color: #fff;
$menu-label-color: #fff;
$menu-item-hover-color: #fff;
$menu-item-hover-background-color: #d71235;
$menu-item-active-background-color: #d71235;

@import 'node_modules/bulma/bulma.sass';
@import 'node_modules/font-awesome/scss/font-awesome.scss';
