<aside class="menu">
  <p class="menu-label">
      Motrak
  </p>
  <ul class="menu-list">
    <li><a routerLink="/" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact:true}">Laitehallinta</a></li>
    <li><a routerLink="/notices" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact:true}">Ilmoitukset</a></li>
    <li><a routerLink="/settings" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact:true}">Asetukset</a></li>
    <li *ngIf="loggedIn"><a>Logout</a></li>
  </ul>
</aside>