<agm-map
[latitude]="defaultPos.lat" 
[longitude]="defaultPos.lng" 
>
  <agm-marker-cluster imagePath="assets/markers/m">
   <agm-marker *ngFor="let marker of markers"
      (markerClick)="onSelect(marker)"
      [label]="marker.name"
      [latitude]="marker.location.lat"
      [longitude]="marker.location.lng">
      <agm-info-window *ngIf="selectedMarker"
      [isOpen]="isInfoWindowOpen(marker.id)"
      >
        <div>
            <h2>{{ selectedMarker.name }}</h2>
             <p>{{ selectedMarker.location.lat }}</p>
             <p>{{ selectedMarker.location.lng }}</p>
        </div>
      </agm-info-window>
   </agm-marker>
  </agm-marker-cluster>
</agm-map>
<!--<ul class="markers">
  <li *ngFor="let marker of markers"
  [class.selected]="marker === selectedMarker"
  [id]="marker.id"
  (click)="onSelect(marker)"
  >
    <p><b>{{ marker.name }}</b><p>
    <p>{{ marker.id }}</p>
  </li>
</ul>-->
<div class="haku">
<input #searchDevice
  (keyup.enter)="search(searchDevice.value)"
  >
  <button (click)="search(searchDevice.value)">Hae</button>
<ul id="result">
  <li *ngFor="let result of searchResult">
      <b><p>{{ result.name }}</p></b>
      <p>Id: {{ result.id }}</p>
      <p>Tila: {{ result.environment }}</p>
      <button (click)="onSelect(result)">Katso sijainti</button>

  </li>

</ul>
</div>
