agm-map {
  height: 700px;
  width: 900px;
  display: inline-block;
  
}
.selected {
  background-color: crimson !important;
}

.markers li{
  display: inline-block;
  background-color: gray;
  margin: .5em;
  border-radius: 4px;
  position: relative;
  left: 0;
  padding: .3em .3em;
}
.haku{
  display: inline-block;
  padding: 0px 25px;
  vertical-align: top;
}