.selected {
    background-color: crimson !important;
  }
  
  .devices li{
    /*display: inline-block;*/
    background-color: gray;
    margin: .5em;
    border-radius: 4px;
    position: relative;
    left: 0;
    padding: 3em;
  }
div{
    border: 2px solid black;
    margin: 5px;
}
.laina {
    background-color: green;
    width: 400px;
}

.huolto {
    background-color: yellow;
    width: 400px;
}
.ilmoitus {
    background-color: orange;
    width: 400px;
}

.kriittinen {
    background-color: red;
    width: 400px;
}
.koko{
    width: 400px;
}
  