<div class="koko">
  <p>Apuvälineet yhteensä: {{ markers.length }}</p>
 <!-- <button (click)="revealList()">{{ buttonContent }}</button>-->
  <ul class="devices" *ngIf="selectedDiv"> 
    <li *ngFor="let marker of markers"
    [id]="marker.id"
    >
      <p><b>{{ marker.name }}</b><p>
      <p>{{ marker.id }}</p>
    </li>
  </ul>
</div>

<div class="laina">
  <p>Lainassa olevat apuvälineet: {{ markers.length }}</p>
 <!-- <button (click)="revealList()">{{ buttonContent }}</button>-->
  <ul class="devices" *ngIf="selectedDiv"> 
    <li *ngFor="let marker of markers"
    [id]="marker.id"
    >
      <p><b>{{ marker.name }}</b><p>
      <p>{{ marker.id }}</p>
    </li>
  </ul>
</div>

<div class="huolto">
    <p>Huollossa olevat apuvälineet: 0</p>
    <ul class="devices" *ngIf="selectedDiv"> 
      <li *ngFor="let marker of markers"
      [id]="marker.id"
      >
        <p><b>{{ marker.name }}</b><p>
        <p>{{ marker.id }}</p>
      </li>
    </ul>
  </div>
